.pad-header
{
	/* padding: 30px 12px 12px 1px; */
	padding-top: 50px;
}

#header-formatter
{
	/* width: 100%; */
	margin: 0 auto;
	/* background-color: hotpink; */
	padding: 0px;
	margin: 0 auto;
	width: 50%;
	/* margin-top: 40px; */
}

.account-main
{
	width: 50%;
	margin: 0px auto;
}

.account-button-holder
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

	.account-button-holder button
	{
		border-radius:8px;
	}

#account-btn
{
	font-size: 18px;
	color: white;
	background-color: black;
}

.header-container
{
	/* width: auto; */
	/* height: auto; */
	/* margin-left: auto; */
	/* margin-right: auto; */
	/* padding: 10px; */
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
}

.header-btn-container
{
	/* margin-top: 15px; */
	/* margin-left: 10px; */
	/* margin-right: 10px; */
	/* margin: 15px 10px; */
	padding: 5px 10px 10px 10px;
}

#save-btn, #revert-btn, #enable-edit-btn
{
	background-color: black;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border-radius: 8px;
}

	button#save-btn:hover, #revert-btn:hover, #enable-edit-btn:hover
	{
		color: grey;
		color: rgb(255,255,255,0.7);
	}

#fname, #lname, #dob
{
	font-size: 20px;
	width: 65%;
}

#fname-label
{
	font-size: 20px;
	text-align: left;
	/* padding-right: 40px; */
}

#lname-label
{
	font-size: 20px;
	text-align: left;
	padding-right: 40px;
}

#dob-label
{
	font-size: 20px;
	/* padding-right: 105px; */
}
