/*
	Itinerary is the most complex beast here, and almost everything needs an id because we use it in the JS. So, you can format each and every element individually. I have done very little formatting.
	The easiest way to format the code is to do so "on the fly". This is done by linking your VS Code Instance to Microsoft Edge (or Chrome if it supports it) via the option in Developer Tools.
	You may also use Visual Studio, but my instance of VS 2022 has some issues noted below. 
	This lets you visually see your changes as you make them in VS Code or Edge (changing the value in Edge will alter the CSS File and CSS file changes will show up in Edge). 
	My recommendation is to do the changes in Edge; i've been using Visual Studio (not VS Code), and occasionally changes in Visual Studio require me to refresh the page to show up, but doing it the other way seems to always work. Alternatively, just use VS Code. Apparently, changes to HTML and JS will also work from Edge into VS Code (not the other way), but i cannot verify this. 

	Also, the easiest way to format things is to use "flexbox" aka display: flex; as it has a center option built-in, among many other things. margin: 0 auto; may also work if you just need to center something (this is what w3-center does), but not always; it may require having a fixed size. flexbox also has an option for wrapping, it's really nice for dynamic content (like our list of itinerary items), because it will automatically put all child elements one after another and shifts them to match the window size. You can see a working example with the way the item modal handles the map and the address content, the way the navbar works, and so on.
*/

body
{
	/* margin: 60px 10px; */
	padding: 0;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
}

/* Global or Reoccuring Elements*/
/*Applied to any content that should appear to be "read only" when in "view mode". This is typically done with labels when their associated field is "read only" (JS: readOnly, HTML: readonly, CSS: read-only) */
.readonly-content, .label-readonly
{
	color: gray;
}

/*Applied to all non-labels that need to appear read-only when in "view mode". We use this with "getElementsByClassName" to get them, then append the "readonly-content" class. */
.readonly-aware-content
{
}

/*Automatically applied to all input fields that have the "readonly-aware-input-field" class the moment they become "read only" */
.readonly-aware-input-field:read-only
{
	background-color: lightgray;
	color: gray;
	border: none;
	outline: none;
}

/*Hidden Content*/
.hide-in-view-mode, .item-modal-collapsed, .hidden-on-address-mode, .nothing-to-change, .not-create-mode, .not-logged-out,
.not-view-mode-other, .not-view-mode-self, .not-copy-edit-mode, .not-normal-edit-mode, .readonly-item-hide-button
{
	display: none !important;
}

/*All labels in the itemo modal. not global because that makes difficult to find formatting bugs*/
.item-modal-label
{
	/* display: block; */
}


/*End Global or Reoccuring Elements*/

/*Individual Elements*/


/*********************Main Itinerary Information (HEADER)****************************/
#main-itinerary-data
{
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
/*Itinerary Title*/
#itinerary-title-container
{
	
}

#itinerary-title-label
{
}

#itinerary-title
{
}
/*END Itinerary Title*/
/*Itinerary Start and End Date*/
#itinerary-date-range-container
{

}
/*Itinerary Start Date*/
#itinerary-startdate-container
{

}

#itinerary-startdate-label
{
}

#itinerary-startdate
{
}
/*END Itinerary Start Date*/
/*Itinerary End Date*/
#itinerary-enddate-container
{
}

#itinerary-enddate-label
{
}
#itinerary-enddate
{
}
/*END Itinerary End Date*/
/*END Itinerary Start and End Date*/
/*Itinerary Description*/
#itinerary-description-container
{
}

#itinerary-description-label
{
}

#itinerary-description
{
}
/*END Itinerary Description*/
/*********************END ITINERARY HEADER********************/
/**********************START Calendar*************************/
#calendar
{
	max-width: 1100px;
	max-height: 750px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.calendar-disabled
{
	background-color: lightgray;
}

/***********************END Calendar*************************/
/****************START ITINERARY ITEM MODAL******************/
/*General Modal Formatting*/
/*Copypasta from W3C*/
#item-modal
{
	position: fixed; /* Stay in place */
	z-index: 10; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */

	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#item-modal-container
{
	overflow: auto; /* Enable scroll if needed */
	background-color: #fefefe;
	margin: 5% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	height: 80%; /* Full height */
	display: flex;
	flex-direction: column;
	align-content: center;
}
/*End Copypasta*/
/*End General Modal Formatting*/

/*Top Modal Section (Activity Name, Start Date/Time, End Date/Time, Additional Info.*/
#item-modal-top
{
}
/*Item Modal Title*/
#item-modal-title-container
{
}

#item-modal-title
{
}
/*END Item Modal Title*/
/*Item Modal Time Frame*/
#item-modal-timeframe
{
}
/*Item modal start time*/
#item-modal-start-container
{
}

#item-modal-start
{
}
/*End Item modal Start time*/
/*Start Item modal End Time*/
#item-modal-end-container
{
}

#item-modal-end
{
}
/*End Item modal End Time*/
/*Start Item Modal Description*/
#item-modal-description-container
{
}

#item-modal-description
{
}
/*End item modal description*/
/************END ITEM MODAL HEADER***************/
/************START ITEM MODAL ADDRESS************/
/*wrapper*/
#item-modal-middle
{
	display: flex;
	flex: 1;
}
/*LEFT HALF: Address mode input*/
#item-modal-left
{
	width: 50%;
	display: inline;
	flex: 1;
}

#item-modal-address-container
{
}

.item-modal-radio
{ /* display: block; */
	vertical-align: middle;
}

#item-modal-address-mode
{
}

#item-modal-latlong-mode
{
}


#item-modal-rough-address
{
}

#item-modal-coordinate-container
{
	padding-top: 10px;
}

.item-modal-coordinate
{
	display: inline;
	/* float:left; */
	width: 25%;

	color:inherit;
}

	.item-modal-coordinate:read-only
	{
		background-color:lightgray;
		color: gray;
		border: none;
		outline: none;
	}

#item-modal-right
{
	float: right;
	display: inline;
	width: 50%;
	flex: 1;
	/* min-height: 370px; */
}

#item-modal-map
{
	padding: 10px;
	height: 100%;
}

#item-modal-photo-list
{
}

.item-modal-photo
{
	display: inline-block;
}

.item-modal-photo-img
{
	max-width: 400px;
}

#item-modal-footer
{
	display: block;
	width: 100%;
	padding-top:20px;
}

#item-modal-footer-buttons
{
	width: 100%;
	display:flex;
	justify-content: space-between;
}

/*The footer*/
#itinerary-footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40px;
	padding: 0px 10px;
	background-color: lightgray;
	z-index: 10;
}

/****COMMON FOOTER***/
#create-mode, #view-mode-other, #view-mode-self, #copy-edit-mode, #normal-edit-mode
{
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	width:100%;
	padding:0px;
	margin:0px;
}
/****LOGGED OUT VIEW MODE******/
#logged-out-wrapper
{
	display:flex;
	align-content: center;
	align-items: center;
	height:100%;
	width: 100%;
}
#logged-out-note
{
	/* width: 100%; */
	padding: 0px;
	/* margin: auto 0; */
	/* vertical-align: middle; */
}
/***********CREATE MODE*************/
#create-save-cont
{
}
#create-save-exit
{
}
#create-clear
{
}
#create-cancel
{
}
/**************LOGGED IN BUT NOT CREATOR VIEW MODE************/
#other-create-copy
{
}
#other-cancel
{
}
/**************LOGGED IN AND CREATOR VIEW MODE************/
#self-enable-edit
{
}
#self-go-back
{
}
#self-view-delete
{
}
/**************CREATE A COPY MODE (UNSAVED)************/
#save-copy-cont
{
}
#save-copy-exit
{
}
#copy-revert
{
}
#copy-cancel
{
}
/**************EDIT A VERSION YOU OWN************/
#save-cont
{
}
#save-exit
{
}
#revert-cont
{
}
#revert-exit
{
}
#edit-delete
{
}