.account-buttons
{
	float:right;
}

.topnav
{
	overflow: hidden;
	background-color: #2C3E50;
	/* padding: 6px 0px; */
	font-size: 18px;
	display: flex;
	justify-content: center;
	/* margin: 0 auto; */
	padding-left: 30px;
}

	.topnav .search-container
	{
		/* float: right; */
		display: inline-block;
		padding: 0px 16px;
		/* margin-right: 16px; */
		align-self: center;
	}

	.topnav input[type=text]
	{
		padding: 6px;
		font-size: 18px;
		border: none;
	}

	.topnav .search-container button
	{
		float: right;
		padding: 7px 10px;
		background: #ddd;
		font-size: 17px;
		border: none;
		cursor: pointer;
		display: inline-block;
	}

		.topnav .search-container button:hover
		{
			background: #ccc;
		}

	.topnav #dropdown
	{
		padding: 6px 4px;
		vertical-align: middle;
		display: inline-block;
		margin-left: 6px;
		margin-top: 3px;
		margin-bottom: 3px;
		font-size: 18px;
	}

	.topnav label
	{
		font-size: 18px;
		padding: 10px 0px;
	}

.show-small
{
	  display: none !important; 
}

.hide-default
{
	display: none;
}


@media (max-width: 1000px)
{
	.w3-hide-small
	{
		display: none !important;
	}

	.show-small
	{
		display: block !important;
		/* display:inherit !important; */
	}
}